.productPage {
    background-color: #ffffff;
    color: #000000;
}

@media (prefers-color-scheme: white) {
    .productPage {
      --background: #ffffff; 
      --foreground: #ffffff; 
      background-color: var(--background);
      color: var(--foreground);
    }
  } 

  section.hero {
    @apply grid;
    grid-template-columns: .4fr .6fr;

  }

  
  
  